<!-- dashboard.component.html -->

<div class="bg-white text-black p-4">
    <div class="flex border p-2 items-center">
        <a routerLink="/dashboard/viewalltickets" class="text-2xl mr-4 hover:text-blue-500">Dashboard</a>
        <a routerLink="/dashboard/addticket" class="text-2xl mr-4 hover:text-blue-500">Add Ticket</a>
        <a routerLink="/dashboard/data" class="text-2xl mr-4 hover:text-blue-500">Report</a>
        <a routerLink="/dashboard/rootcause" class="text-2xl hover:text-blue-500">Root Cause Analysis</a>
        <div class="ml-auto" *ngIf="isViewAllTicketsActive()">
            <div class="relative">
                <input type="text" placeholder="Search Name"
                    class="py-2 text-2xl px-4 rounded bg-blue-500 text-white focus:outline-none focus:ring focus:ring-blue-200"
                    (input)="applyFilter($event)" />
            </div>
        </div>
    </div>
</div>
<div class="p-4">
    <router-outlet></router-outlet>
</div>