<div class="min-h-screen flex justify-center bg-gray-100">
    <div class="max-w-5xl w-full m-5 p-8 bg-white shadow-lg rounded-md">

        <form #ticketForm="ngForm" (ngSubmit)="updateTicket()" novalidate>

            <div class="text-center mb-6">
                <h2 class="text-3xl font-bold text-blue-500">Update Root Cause Analysis</h2>
            </div>

            <div class="grid w-full grid-cols-2 gap-2 mb-6">

                <!-- Left side - ID, Department, Category, Sub-Category, Status, Customer, Issue Time -->
                <div>

                    <div class="mt-4">
                        <mat-form-field appearance="fill" style="width: 300px;" style="width: 300px;">
                            <mat-label>ID</mat-label>
                            <input matInput [(ngModel)]="ticket.id" name="id" readonly>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field appearance="fill" style="width: 300px;">
                            <mat-label>Customer</mat-label>
                            <input matInput [(ngModel)]="ticket.customer" name="customer" readonly>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field appearance="fill" style="width: 300px;">
                            <mat-label>Issue Time</mat-label>
                            <input matInput [(ngModel)]="ticket.issueTime" #issueTimeInput="ngModel" name="issueTime"
                                readonly>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Right side - Age, Last Modified Date -->
                <div>

                    <div class="mt-4">
                        <mat-form-field appearance="fill" style="width: 300px;">
                            <mat-label>Age</mat-label>
                            <input matInput [(ngModel)]="ticket.age" name="age" readonly>
                        </mat-form-field>
                    </div>


                    <div class="mt-4">
                        <mat-form-field appearance="fill" style="width: 300px;">
                            <mat-label>Department</mat-label>
                            <input matInput [(ngModel)]="ticket.department" name="department" readonly>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field appearance="fill" style="width: 300px;">
                            <mat-label>Last Modified Date</mat-label>
                            <input matInput [(ngModel)]="ticket.lastModifiedDate" name="lastModifiedDate" readonly>
                        </mat-form-field>
                    </div>

                </div>

            </div>

            <!-- Bottom section - Subject/Issue, Issue Description, Root Cause Analysis -->
            <div class="mt-6 col-span-2">

                <div class="mt-4">
                    <mat-form-field appearance="fill" style="width: 900px;">
                        <mat-label>Root Cause Analysis</mat-label>
                        <input matInput [(ngModel)]="ticket.rootCauseAnalysis" #rcaInput="ngModel"
                            name="rootCauseAnalysis" required>
                        <mat-error *ngIf=" rcaInput.invalid && (rcaInput.dirty || rcaInput.touched)">
                            Root Cause Analysis is required
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <!-- Save and Cancel buttons -->
            <div class="flex justify-end mt-8">
                <button type="submit" mat-raised-button color="primary">
                    Submit
                </button>
            </div>

        </form>
    </div>
</div>