<header class="bg-blue-500 p-3">
    <div class="flex items-center justify-between">
        <a class="flex items-center" routerLink="/">
            <img src="../../assets/logo.svg" width="100px" alt="One Tracker Logo" class="mr-2">
            <span class="text-white text-5xl font-bold">One Tracker</span>
        </a>
        <ng-container *ngIf="authService.isLoggedIn()">
            <button mat-raised-button (click)="logout()" class="text-white ml-4">Logout</button>
        </ng-container>
    </div>
</header>
<router-outlet></router-outlet>